@font-face {
    font-family: 'linux_biolinum_oregular';
    src: url('linbiolinum_r-webfont.woff2') format('woff2'),
         url('linbiolinum_r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimsonroman';
    src: url('crimson-roman-webfont.woff2') format('woff2'),
         url('crimson-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: crimsonroman;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    background-color: #1D699A;
    margin: 0;
}

.header {
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.container {
    width: 80%;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;

}

.org-header-wrapper .flex-table-item-primary {
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: normal;
    vertical-align: middle;
    box-sizing: border-box;
}

.flex-table {
    display: table;
}

.orghead {
    padding-top: 20px;
    padding-bottom: 0;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.org-name {
    font-weight: 400;
    color: #333;
    line-height: 1.25 !important;
    font-size: 32px;
    margin-top: -5px;
    margin-bottom: 0;
}

.org-header-meta {
    font-size: 12px;
    line-height: 1.5;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

.org-header-meta .octicon {
    position: relative;
    top: 1px;
    margin-right: 2px;
    color: #ccc;
    vertical-align: text-bottom;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.org-header-meta .meta-item {
    display: inline-block;
    max-width: 100%;
    padding-right: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: sans-serif;
}

.site-footer {
    font-family: sans-serif; 
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #eee;
    border-top: 1px solid #eee;
}

a {
    text-decoration: none;
    color: #94D5FF;
}

.orghead a {
    color: #1D699A;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'linux_biolinum_oregular';
    font-style: italic;
}

h2 {
    font-family: 'linux_biolinum_oregular';
    font-size: 20px;
    background-color: #05436c;
    color: white;
    margin-top: 30px;
    padding: 5px;
}

small {
    padding: 5px;
}

@media screen and (max-width:480px) {
    iframe {
        width: 300px;
        height: 200px;
    }
    iframe.wide {
        width: 300px;
        height: 169px;
    }
    img {
        max-width: 300px;
        height: auto;
    }
    img.portrait {
        max-height: 300px;
        width: auto;
    }
    img.logo {
        width: 140px;
        height: 140px;
    }
}

@media screen and (min-width:481px) and (max-width:760px) {
    iframe {
        width: 450px;
        height: 301px;
    }
    iframe.wide {
        width: 450px;
        height: 253px;
    }
    img {
        max-width: 450px;
        height: auto;
    }
    img.portrait {
        max-height: 450px;
        width: auto;
    }
    img.logo {
        width: 150px;
        height: 150px;
    }
}
