@font-face {
    font-family: 'linux_biolinum_oregular';
    src: url('linbiolinum_r-webfont.woff2') format('woff2'),
           url('linbiolinum_r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimsonroman';
    src: url('crimson-roman-webfont.woff2') format('woff2'),
           url('crimson-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: crimsonroman;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    background-color: #1D699A;
    margin: 0;
}

.container {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px 0 10px;
}

.org-header-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.flex-table {
    display: table;
}

.orghead {
    padding-bottom: 0;
}

.org-name {
    font-weight: 400;
    color: #eee;
    line-height: 1.25 !important;
    font-size: 32px;
    margin-top: 75px;
    width: 500px;
}

.org-header-meta {
    font-size: 13px;
    line-height: 1.5;
    list-style: none;
    float: right;
    margin-bottom: 0;
    box-sizing: border-box;
}

.org-header-meta .octicon {
    position: relative;
    top: 1px;
    margin-right: 2px;
    color: #ccc;
    vertical-align: text-bottom;
}

.octicon {
    display: inline;
    vertical-align: text-top;
    fill: currentColor;
}

.org-header-meta .meta-item {
    display: inline;
    max-width: 100%;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: sans-serif;
}

.site-footer {
    font-family: sans-serif; 
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #eee;
    border-top: 1px solid #eee;
}

a {
    text-decoration: none;
    color: #94D5FF;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'linux_biolinum_oregular';
    font-style: italic;
}

h2 {
    font-family: 'linux_biolinum_oregular';
    font-size: 20px;
    background-color: #05436c;
    color: white;
    margin-top: 30px;
    padding: 5px;
}

img.logo {
    float: left;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
}

small {
    padding: 5px;
}

ul {
  padding: 0;
  margin: 0;
  text-align: right;
}

li {
  padding: 0;
  margin: 0;
}

@media screen and (max-width:480px) {
    .container {
        width: 300px;
    }
    iframe {
        width: 300px;
        height: 200px;
    }
    iframe.wide {
        width: 300px;
        height: 169px;
    }
    img {
        max-width: 300px;
        height: auto;
    }
    img.portrait {
        max-height: 300px;
        width: auto;
    }
    img.logo {
        width: 110px;
        height: 110px;
        padding-top: 0;
        padding-right: 5px;
    }
    .org-name {
        font-size: 28px;
        margin-top: 10px;
        float: left;
        width: 300px;
    }
    .org-header-meta {
        padding-bottom: 10px;
    }
    .org-header-meta .meta-item {
        display: block;
    }
    li {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width:481px) and (max-width:760px) {
    .container {
        width: 450px;
    }
    iframe {
        width: 450px;
        height: 301px;
    }
    iframe.wide {
        width: 450px;
        height: 253px;
    }
    img {
        max-width: 450px;
        height: auto;
    }
    img.portrait {
        max-height: 450px;
        width: auto;
    }
    img.logo {
        width: 140px;
        height: 140px;
    }
   .org-name {
        width: 450px;
        margin-top: 40px;
    }
}
